<%- include ("partials/header.ejs") %>

<div class="box">
    <% newListItems.forEach(function(item) { %>
        <form action="/delete" method="POST">
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()"/>
                <p><%=item.name%></p>
            </div>
            <input type="hidden" name="listName" value="<%= title%>">
        </form>
        
    <%})%>
    <form class="item" action="/" method="POST">
        <input type="text" name="newItem" placeholder="new Item"/>
        <button type="submit" name="list" value="<%=title%>">+</button>
    </form>
</div>
</main>

<%- include("partials/footer.ejs") %>